-# in app/views/movies/show.html.haml

-if @user.role != "admin"
  %h1 Menu
  #applink.childDiv2= link_to "Locations", user_venues_path(@user)
  %br
  #applink.childDiv2= link_to "My Notifications", user_requests_path(@user)
  %br
  #applink.childDiv2= link_to "My Reservations", user_reservations_path(@user)
 
