-# in app/views/movies/show.html.haml

-if @user.role != "admin"
  %h1 Menu
  = link_to "Locations", user_venues_path(@user)
  %br
  = link_to "Notifications", user_requests_path(@user)
  %br
  = link_to "Reservations", user_reservations_path(@user)
-else
  %h1 Notifications
  %br
  %h2 Pending Requests
  %br
  %h2 User Cancel Requests
  %br
  %h2 Declined Requests
  %br
  %h2 Approved Pending Requests
  %br
 
