<h1>Mission Possible: It All STARTs Here</h1><br>
If you want to be up there, with your name among those like the Grand Pupa of All Things Tech, you simply need to complete missions and gain the experience you need to reach the next level of technological awesomeness.<br><br>
<u>Paw Points are awarded for successful completion of missions, but here are some rules.</u><br>
<ol>
<li>You need to attain the following number of Paw Points to reach a new level and thus achieve greater missions.<br><br>
<b><table border="0">
<col width="75">
<col width="300">
<col width="500">
<tr>
<td>Level     </td>
<td>Paw Points Needed     </td>
<td>Title</td>
</tr>
<tr>
<td>1</td>
<td>0</td>
<td>Noob</td>
</tr>
<tr>
<td>2</td>
<td>10</td>
<td></td>
</tr>
<tr>
<td>3</td>
<td>30</td>
<td>Novice</td>
</tr>
<tr>
<td>4</td>
<td>60</td>
<td></td>
</tr>
<tr>
<td>5</td>
<td>120</td>
<td>User</td>
</tr>
<tr>
<td>6</td>
<td>195</td>
<td>Tech Geek</td>
</tr>
<tr>
<td>7</td>
<td>285</td>
<td></td>
</tr>
<tr>
<td>8</td>
<td>425</td>
<td></td>
</tr>
<tr>
<td>9</td>
<td>565</td>
<td>Tech God</td>
</tr>
<tr>
<td>10</td>
<td>745</td>
<td>Grand Poobah Emperor of Technology</td>
</tr>
</table></b><br><br> 
</li>
<li>Most missions award Paw Points based on level. (Level 1 missions offer 1 Paw Point for completion, and level 4 missions give you 4)</li>
<li>You can only complete missions that are at your level or below. (ie. if you are 3rd level, you can not complete 4th level missions, but can earn Paw Points doing missions in levels 1 - 3)  If you want those higher missions, put in the time, cheater!</li>
</ol>
<br><br>
<b><u>A personal note from your tech team.</u></b><br><br>
Chris Like here... There are a couple of things I want in BLACK AND 
<font style="background-color: black;", color="white">WHITE</font>.<br><br>
First off, this is not evaluative. I say again, this is not evaluative. No one is going to cut off your fingers if you are not level 6 by Christmas or fail at a mission 34 times. This is for your professional development. We are all at different levels, and will always be at different levels. This professional development is for the most part self-paced and allows you a lot of choice in what you want to learn about. This is for you and it should be fun. Heck, I am making most of these missions and am excited about doing them myself! Who wants the title Tech God after their name?...This guy! And I will be racing you get it! Start your engines, kids, and learn some stuff!<br><br>
Second, this is mostly on the honor system. Many of us have taken grad classes online and know how video lectures can be. Its amazing how much stuff I can do while listening to a lecture. My personal record of multi-tasking includes grading papers, throwing angry birds, feeding my kids, and while driving (just kidding about the driving thing, honey). Do your best to pay attention most of the time. If you don not get everything out of the mission you should have, go through it again, it will always be there waiting for you to play with it<br><br>
Lastly, if any of you have any suggestions for making this better or more engaging, please let me know. This idea came about rather quickly (Hell, I never even had it tuned). I know there are things we could do better so we built in a lot of flexibility in the levels. We can add missions (and will), or subtract missions, alter where they fall in the sequence, whatever. We are open to any idea you have.<br><br>
Have fun!!<br><br>









