-#  This file is app/views/movies/index.html.haml

%h1
  = @venue.location
  , 
  = @venue.room

= link_to "Reserve", new_user_venue_request_path(@user,@venue)
%br

= link_to "Games", user_venue_games_path(@user,@venue)
%br

