-#  This file is app/views/movies/index.html.haml

%h1
  Your Reservations 

%table
  %thead 
    %tr
      %th Venue
      %th Date
      %th Cancellation
  %tbody
    - @reservations.each do |res|
      - @game = Game.find(res.game_id)
      - @venue = Venue.find(res.venue_id)
      - @request = Request.find_by_user_id_and_reservation_id(params[:user_id],res.id)
      %tr
        %td
          = @venue.location
          , 
          = @venue.room
        %td
          = @game.game_time
        %td= link_to "Cancel" ,user_reservation_path(@user,res), :method => :put



