html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
div#applink a {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: red;
  border: 3px black outset;
  color: white;
  float: left;
  text-decoration: none;
  font-weight: bold;
}
div#userinfo {
  float: right;
  font-weight: bolder;
  color: red;
}
div#applink a:hover {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: blue;
  border: 3px black inset;
  color: white;
  float: left;
  text-decoration: none;
  font-weight: bolder;
}
.levellink a {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: black;
  border: 3px red outset;
  color: yellow;
  float: left;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0px 0px;
  margin: 0;
  display:block;
}

table.level_nav  {
  border-collapse: collapse;
}

.levellink a:hover {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: yellow;
  border: 3px red inset;
  color: black;
  float: left;
  text-decoration: none;
  font-weight: bolder;
  padding: 0 0px 0px;
  margin: 0;
  display:block;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 0px;
  background-color: blue;
  color: white;
  border-bottom: 4px solid red;
  font-size: 2em;
  font-style: normal;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}
table#movies th.hilite {
  background-color: yellow;
}
#notice.message #warning.message #error.message {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
