html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: black;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
div#applink a {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: black;
  border: 3px yellow outset;
  color: yellow;
  float: left;
  text-decoration: none;
  font-weight: bold;
}
div#userinfo {
  float: right;
  font-weight: bolder;
  color: red;
}
div#applink a:hover {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: yellow;
  border: 3px black inset;
  color: black;
  float: left;
  text-decoration: none;
  font-weight: bolder;
}
.levellink a {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: black;
  border: 3px yellow outset;
  color: yellow;
  float: left;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0px 0px;
  margin: 0;
  display:block;
}

.missionlink a {
  width: 33em;
  height: 3.2em;
  text-align:center;
  background-color: black;
  border: 3px yellow outset;
  color: yellow;
  float: left;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0px 0px;
  margin: 0;
  display:block;
}

table.level_nav  {
  border-collapse: collapse;
}

.levellink a:hover {
  width: 10em;
  height: 1.4em;
  text-align:center;
  background-color: yellow;
  border: 3px black inset;
  color: black;
  float: left;
  text-decoration: none;
  font-weight: bolder;
  padding: 0 0px 0px;
  margin: 0;
  display:block;
}

.missionlink a:hover {
  width: 33em;
  height: 3.2em;
  text-align:center;
  background-color: yellow;
  border: 3px yellow inset;
  color: black;
  float: left;
  text-decoration: none;
  font-weight: bolder;
  padding: 0 0px 0px;
  margin: 0;
  display:block;
}

h1 {
  color: black;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: black;
  color: yellow;
  border-bottom: 4px solid yellow;
  font-size: 2em;
  font-style: normal;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid black;
  font-weight: bold;
  background-color: yellow;
}
table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}
table#movies th.hilite {
  background-color: yellow;
}
#notice.message #warning.message #error.message {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: black;
}

/*#divCenter{
  position:absolute;
  top:0%;
  left:0;
  right:0;
  height:50px;
  width:500px;
  margin:0 auto;
  border: 1px solid #aaaaff;
  background:#aaaaff;
  z-index:2;
}
#divLeft{
  position:absolute;
  top:0;
  left:0%;
  width:50%;
  border: 1px solid #aaffaa;
  z-index:1;
}
#divLeftInner{
  height:60px;
  margin-right:250px;
  background:#aaffaa;
}
#divRight{
  position:absolute;
  top:0;
  right:0%;
  width:50%;
  border: 1px solid #ffaaaa;
  z-index:1;
}
#divRightInner{
  height:60px;
  margin-left:250px;
  background:#ffaaaa;
}*/
